<template>

    <main id="app" class="todo-container">

      <h1 class="todo-tilte"></h1>

      <add-todo>  </add-todo>
      <todo-list> </todo-list>


    </main>


</template>

<script>

  import Addtodo from './components/Addtodo'
  import Todolist from './components/Todolist'
  import store from './components/store/store'
export default {
     store:store,
    components:{

         'todo-list':Todolist,
         'add-todo':Addtodo

    }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

:root{

  --color-primary:#41B883;
  --color-secundary:#35495E;
}

html{

  font-family:sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

body{

  margin: 0;
  height: 100vh;
  display: flex;
  background:linear-gradient(180deg,var(--color-primary),var(--color-secundary));
  color: #333;
}

a{
  display: block;
  margin: 1rem auto;
  text-align: center;
  color: var(--color-secundary);
  transition:all .3s ease-out;

}

a:hover{

  color: var(--color-primary);
}

.todo-container{
  margin: auto;
  padding: 1rem;
  width: 24rem;
  background-color: white;
  border-radius: .5rem;
  box-shadow: 0 0 2rem black;

}

.todo-tilte{

  text-align: center;
  margin-top: 0;
}

</style>
