<template>

    <div>

        <div class="row">

            <div class="col s6 offset-s3">

                <form @submit.prevent="addTitle">


                    <div class="form-group">

                        <label for="tilte">Title</label>
                        <input class="form-control" v-model="title.title" name="title" type="text" id="tilte" required>
                        <input v-model="items" name="items" type="hidden" id="items" required>
                    </div>

                    <div class="form-group">
                        <h5>Add Items</h5>
                        <label for="name">Name</label>
                        <input class="form-control" v-model="item.name" name="name" type="text" id="name">
                    </div>
                    <div class="form-group">
                        <label for="name">Body</label>

                        <textarea  class="form-control" v-model="item.body" name="name" type="text" id="body">



                        </textarea>

                        <button @click="AddItem" :class="[CssButton,DisableAdd]" type="button">

                            Add

                        </button>


                        <button @click="DisableSaveControl" :class="[CssButton,DisableSave]" type="button">

                            Save

                        </button>
                    </div>
                    <br>
                    <div>
                        <picture-input
                                ref="pictureInput"
                                @change="onChange"
                                width="150"
                                height="150"
                                margin="16"
                                accept="image/jpeg,image/png"
                                size="10"
                                buttonClass="btn"
                                :customStrings="{
                                upload: '<h1>Bummer!</h1>',
                                drag: 'Drag a 😺 GIF or GTFO'
                                }">
                        </picture-input>
                    </div>
                    <br>
                    <Imageupload></Imageupload>
                    <br>
                    <SortableList lockAxis="y" v-model="items">

                        <itemComponent class="move" v-for="(item,index) in items" :key="index" :index="index"
                                       :item="item"></itemComponent>


                    </SortableList>

                    <br>
                    <br>

                    <button class="btn btn-xs btn-primary" type="submit">

                        create

                    </button>

                    <router-link class="btn btn-xs btn-danger" :to="{name:'help'}">Cancel</router-link>
                </form>


            </div>


        </div>


    </div>


</template>

<script>

    import item from './item.vue'
    import imageupload from './ImageuploadComponent.vue'
    import {ContainerMixin} from 'vue-slicksort';
    import {EventBus} from '../eventBus'
    import PictureInput from 'vue-picture-input'

    const SortableList = {
        mixins: [ContainerMixin],
        template: `
    <ul class="list">
      <slot />
    </ul>
  `,
    };

    export default {

        data(){

            return {

                title: {

                    title: '',
                    id: ''

                },
                item: {

                    name: '',
                    body: ''

                },
                items: [],
                disableAdd:false,
                disableSave:true


            }

        },

        mounted(){


            EventBus.$on('delete-item', index => {
                console.log("llegoo" + index)
                this.items.splice(index, 1)

            }),
            EventBus.$on('edit-item', index => {
                this.DisableAddControl()
                this.item = this.items[index]

            })

        },

        components: {

            'itemComponent': item,
            'Imageupload':imageupload,
             SortableList,
             PictureInput

        },
        computed:{

            CssButton(){

                return 'btn btn-xs btn-primary'

            },
            DisableAdd(){

              return (this.disableAdd) ? 'disabled': ''
            },
            DisableSave(){

                return (this.disableSave) ? 'disabled': ''

            }


        },

        methods: {

            uploadImage(){
                axios.post('api/image/store',{image: this.image}).then(response => {
                    console.log(response);
                    this.success(response.data.success);
                });
            },
            onChange (image) {
                console.log('New picture selected!')
                if (image) {
                    console.log('Picture loaded.')
                    this.image = image
                } else {
                    console.log('FileReader API not supported: use the <form>, Luke!')
                }
            },

            DisableAddControl(){

                this.disableAdd = true
                this.disableSave = false


            },

            addTitle(e){


                axios.post('api/title/create', {title: this.title.title, array: this.items})
                    .then(res => {
                            this.$router.push({name: 'help'})
                            this.success('tilte ADD');
                        }
                    )


            },
            getIdtitle(){


                axios.post('title/get', {params: {title: this.title.title}})
                    .then(res => {

                        console.log(res.data)

                    })
            },
            AddItem(){
                let item = this.item
                this.items.push(item)
                this.item = {

                    name: '',
                    body: ''

                };

            },
           DisableSaveControl(){

                this.disableSave = true
                this.disableAdd=false
                this.item = {

                    name: '',
                    body: ''

                }

            }

        }

    }
</script>

<style scoped>

    .move {cursor: move;}


</style>