<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <nav>
                <ul class="list-inline">
                    <li>
                        <router-link :to="{ name: 'home' }">Home</router-link>
                    </li>
                    <li>
                        <router-link :to="auth ? { name: 'listStudents' }:{name:'error'}">List</router-link>
                    </li>
                    <li v-if="!auth"  class="pull-right">
                        <router-link v-model="auth" :to="{ name: 'login' }">Login</router-link>
                    </li>
                    <li v-else  class="pull-right">
                        <a v-model="auth" @click="logout">Logout</a>
                    </li>
                    <li class="pull-right">
                    <router-link :to="{ name: 'register' }">Register</router-link>
                    </li>

                    <li class="pull-right">
                    <router-link :to="{ name: 'help' }">Ayuda</router-link>
                    </li>

                    <li class="pull-right">
                    <router-link :to="{ name: 'tarea' }">Tarea</router-link>
                    </li>

                </ul>
            </nav>

        </div>
        <div class="col s12 panel-body">
            <div class="row">

                <flash-message></flash-message>

            </div>

            <div class="row">


                <div class="col s12">

                    <router-view></router-view>

                </div>



            </div>

        </div>
    </div>
</template>

<script>
     import VueFlashMessage from 'vue-flash-message';
     require('vue-flash-message/dist/vue-flash-message.min.css');
     Vue.use(VueFlashMessage,{
         messageOptions: {
             timeout: 2000,
             important: true,
             autoEmit: true,
             pauseOnInteract: true,
         }
     })


    export default {
        name: "App",
        data(){

            return {
                auth:''

            }


        },
        mounted(){

            console.log('App mounted')
            this.check()
        },
        updated(){
            console.log('App updated')
            this.check()
        },

        methods:{


            check(){

                if(localStorage.getItem('token')){

                    this.auth = true
                }
                else {

                    this.auth = false

                }

            },
            logout(){

                localStorage.removeItem('token');
                this.$router.push({name: 'home'})
                this.check()
            }

        }
    }
</script>

<style scoped>

    #divMenu{

        position: fixed;

    }

    :root{

        --color-primary:#41B883;
        --color-secundary:#35495E;
        --bg-color:#727F80
    }

    .ModalWindow{

        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color:rgba(0,0,0,.25);
        display: none;


    }

    .ModalWindow-container{

        margin: 5vh auto 0;
        width: 60%;
        background-color:beige;

    }


    .NavigationLevel__children {
        padding-left: 10px;
    }

    .NavigationLevel__parent {
        font-weight:    600;
        padding-bottom: 5px;
    }

    .NavigationItem {
        color:   #545454;
        padding: 0;
    }

    .NavigationItem--active {
        color: #42b883;
    }

    .NavigationToggle__icon {
        border-color: #42b883;
    }


    .ModalWindow-heading{


        padding: 0 1rem;
        background-color: #727F80;
        color: #FFF;

    }

    .ModalWindow-content{

        padding: 1rem;

    }

    .btn,
    .btn-large{

        background-color:var(--color-primary);

    }
    .btn,
    .btn-large:hover{

        background-color:var(--color-secundary);

    }


    .fade-enter-active, .fade-leave-active {
        transition: opacity .8s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }

    .u-show{

        display: initial;

    }
    .u-flexColumnCenter{

        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

    }




</style>