<template>
 <div>

     <h3 class="center-align">Add Student</h3>

     <div class="row">

         <div class="col s6 offset-s2">

             <form @submit.prevent="addStudent">

                 <div class="form-group">

                     <label for="addName">Name</label>
                     <input class="form-control" name="name" type="text" id="addName" v-model="Currentstudent.name" required>
                 </div>

                 <div class="form-group">

                     <label for="addEmail">Email</label>
                     <input class="form-control" name="email" type="email" id="addEmail" v-model="Currentstudent.email" required>
                 </div>

                 <div class="form-group">

                     <label for="addWeb">Web</label>
                     <input class="form-control" name="web" type="text" id="addWeb" v-model="Currentstudent.web" required>
                 </div>

                 <button class="btn btn-xs btn-primary" type="submit" >

                     save

                 </button>

                 <router-link class="btn btn-xs btn-danger" :to="'/'">Cancel</router-link>
             </form>

         </div>

     </div>




 </div>

</template>

<script>
    import {auth} from '../app'
    export default {
        data(){

          return{

              Currentstudent:{ }

          }

        },
       methods:{

           addStudent(e){

               axios.post('/api/students/store',new FormData(e.target),auth)
                   .then(res =>{

                       this.Currentstudent = res.data
                       this.$router.push({name:'listStudents'})
                       this.success('Student created');
                   })
           }


       }


    }
</script>

<style scoped>

</style>