<template>

    <div>

        <div class="row">

            <div id="divMenu"  class="col s4">

                <ul class="collection">

                    <li v-for="(title,index) in titles" :key="index" class="collection-item avatar">
                        <i :class="[circle,title.select ? colorSelect : colorUnSelect]">title</i>

                        <div v-if="title.edit == false">

                            <span @dblclick="title.edit = true" class="title">{{title.text}}</span>

                        </div>

                        <input v-show="title.edit == true" v-model="title.text"
                               @blur="title.edit = false"
                               @keyup.enter="updateTitle(title)" >
                        <p> </p>
                        <button @click="deleteTitle(title.real_id)" class="btn btn-xs btn-primary" type="button">

                            delete

                        </button>
                        <button @click="showItems(title.real_id),title.select = true" class="btn btn-xs btn-primary" type="button">

                           Items

                        </button>
                    </li>

                </ul>


            </div>

            <div class="col s4 offset-s5">

                  <div v-if="items.length == 0">

                       <h3>Not items found</h3>

                  </div>
                  <div v-else>

                      <SortableList lockAxis="y" v-model="items">

                          <itemComponent class="move" v-for="(item,index) in items" :key="index" :index="index"
                                         :item="item"></itemComponent>


                      </SortableList>


                  </div>





            </div>
        </div>
    </div>

    
</template>

<script>
    import item from './item.vue'
    import {ContainerMixin} from 'vue-slicksort';
    import {EventBus} from '../eventBus'

    const SortableList = {
        mixins: [ContainerMixin],
        template: `
    <ul class="list">
      <slot />
    </ul>
  `,
    };

    export default {

        data(){


            return{

                titles: [],
                items:[],
                show:false,
                previosSelect:'',
                select:false

               }

        },
        created(){

            this.getData()

        },
        mounted(){

            EventBus.$on('editInput', value => {
                console.log("llego" + value)
                this.items.edit = value

            })


        },
        computed:{


            colorSelect(){

                return 'red'

            },
            colorUnSelect(){

                return 'green'

            },

            circle(){


                return 'material-icons circle'


            }


        },
        components: {

            'itemComponent': item,
            SortableList

        },
        methods:{


            updateTitle(title){

                return  axios.post('api/title/update',title)
                    .then(response => {

                        console.log(response)

                    })
            },

            getData(){

                return  axios.get('api/title/all')
                    .then(response => {

                           this.titles = response.data
                           this.previosSelect = this.titles[0]
                           this.showItems(this.titles[0].real_id)


                    })
            },

            deleteTitle(real_id){

                return  axios.post('api/title/delete',{real_id:real_id})
                    .then(response => {


                        let select = this.titles.findIndex(title => title.real_id === real_id)
                        console.log(select)
                        this.titles.splice(select,1);
                        this.success(response.data);

                    })
            },

            showItems(real_id){

                let select = this.titles.find(title => title.real_id === real_id)
                select.select = true
                if(select.children != null){

                    this.items = select.children

                }
                else {

                    this.items = []

                }

                this.show = !this.show
                if(this.previosSelect.real_id != select.real_id)
                this.previosSelect.select = false
                this.previosSelect = select

            }

        }


    }
</script>

<style scoped>

    #divMenu{

        position: fixed;
        display:block;
        height:550px;
        overflow:auto;

    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .8s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }


    .slide-fade-enter-active {
        transition: all .3s ease;
    }
    .slide-fade-leave-active {
        transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-to
        /* .slide-fade-leave-active below version 2.1.8 */ {
        transform: translateX(10px);
        opacity: 0;
    }
    .bounce-enter-active {
        animation: bounce-in .5s;
    }
    .bounce-leave-active {
        animation: bounce-in .5s reverse;
    }
    @keyframes bounce-in {
        0% {
            transform: scale(0);
        }
        50% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(1);
        }
    }
</style>