<template>

     <div>

         <form @submit.prevent="deleteStudent">

             <p>Va a eliminar al estudiantes:{{Currentstudent.name}}</p>
             <input v-model="Currentstudent.id" name="id" type="hidden" require>

             <button class="btn btn-xs btn-danger" type="submit" >

                delete

             </button>

             <router-link class="btn btn-xs btn-primary" :to="{name:'listStudents'}">Cancel</router-link>

         </form>



     </div>

    
</template>

<script>
    import {auth} from '../app'
    export default {

        data(){

          return{

              Currentstudent:{}

          }

        },
        created(){

            axios.get('/api/students/find/' + this.$route.params.id,auth)
                .then(res =>{

                    this.Currentstudent = res.data
                    this.warning('Ten cuidado con lo que eliminas');
                })

        },
        methods:{

            deleteStudent(e){

                axios.post('/api/students/delete',new FormData(e.target),auth)
                    .then(res =>{

                        this.$router.push({name:'listStudents'})
                        this.success('Student deleted');
                    })


            }


        }


    }
</script>

<style scoped>

</style>