<template>
 <div>
     <h3 class="center-align">Editar Estudiante.</h3>

     <div class="row">
         <div class="col s6 offset-s3">


             <form @submit.prevent="editStudent">

             <div class="form-group">

                 <label for="editName">Name</label>
                 <input class="form-control" name="name" type="text" id="editName" v-model="Currentstudent.name" required>
             </div>

             <div class="form-group">

                 <label for="editEmail">Email</label>
                 <input class="form-control" name="email" type="email" id="editEmail" v-model="Currentstudent.email" required>
             </div>

             <div class="form-group">

                 <label for="editWeb">Web</label>
                 <input class="form-control" name="web" type="text" id="editWeb" v-model="Currentstudent.web" required>
             </div>
             <input v-model="Currentstudent.id" name="id" type="hidden" required>


             <button class="btn btn-xs btn-primary" type="submit" >

                 save

             </button>

             <router-link class="btn btn-xs btn-danger" :to="{name:'listStudents'}">Cancel</router-link>
         </form>




         </div>


      </div>



 </div>




</template>

<script>

    import {auth} from '../app'

    export default {
        data(){

            return {

                Currentstudent:''
            }

        },

        created(){

            axios.get('/api/students/find/' + this.$route.params.id,auth)
                .then(res =>{

                    this.Currentstudent = res.data

                })

        },

       methods:{

           editStudent(e){


               axios.post('/api/students/update',new FormData(e.target),auth ).then(res =>{

                       this.$router.push({name:'listStudents'})
                       this.error('Student editado');
                   })


           }



       }

    }
</script>

<style scoped>

</style>