<template>

    <div>
         <div class="row">

             <div class="col s12">


                       <div id="divMenu" :class="[MaterialCss,controlMarginTop]"  @contextmenu.prevent="$refs.menu.open">

                           <tree   :data="items2"
                                   :options="treeOptions"
                                   v-model="selected"
                                   @node:selected="onSelected"
                                   @node:checked="onChecked"
                                   ref="tree"

                           />

                       </div>
                      <div v-if="auth">

                     <vue-context  ref="menu">
                         <ul>
                             <li @click="onClick('addTitle')">Add new Title</li>
                             <li @click="onClick('DeleteTitle')">Delete Title</li>
                         </ul>
                     </vue-context>

                     </div>



                 <div class="col s6 offset-s6">

                      <div v-for="clone in clones">
                              <div v-if="clone.edit == false">

                                  <h4 @dblclick="clone.edit == true" :id="clone.id">{{clone.text}}</h4>

                              </div>

                              <input v-show="clone.edit == true" v-model="clone.text"
                                     @blur="clone.edit = false"
                                     @keyup.enter="updateItem(item)" >



                              <h4 :id="clone.id">{{clone.text}}</h4>

                              <div v-if="[clone.children.length > 0]">



                                         <div v-for="children in clone.children">

                                             <div :id="children.id">
                                                 <h4>{{children.text}}</h4>

                                                 <p class="flow-text">{{children.body}}</p>

                                             </div>



                                         </div>




                              </div>

                      </div>


                 </div>


             </div>



         </div>




    </div>




</template>

<script>

    import VueTree from 'liquor-tree';
    import { VueContext } from 'vue-context';
    Vue.use(VueTree,VueContext)

    import {scroller} from 'vue-scrollto/src/scrollTo'
    const firstScrollTo = scroller()

    export default {


        data(){

            return {
                scroll:'',
                auth:true,
                items2: this.getData(),
                clones:'',
                selected : null,
                treeOptions: {
                    propertyNames: {
                        text: 'text',
                        children: 'children'
                    },
                    checkbox: true,
                    multiple: true,

                }

            }


        },
        watch:{

            scroll(scroll){
               // console.log("entroo")
                this.scrollControll()

            }


        },
        computed:{

            controlMarginTop(){

                 return (this.scroll > 0) ? 'margin':''

            } ,

            MaterialCss(){

                 return 'col s4 z-depth-3'

            }



        },
        components:{

            VueContext

        },

        created(){

            this.getData()
            this.getDataClone()
            this.scrollControll()


        },

        methods:{

            scrollControll(){
                window.addEventListener('scroll', () => {
                    this.scroll = window.scrollY
                })


            },

            onClick (text) {
                this.$router.push({name: text})
            },
            getData(){

              return  axios.get('api/title/all')
                    .then(response => response.data)
            },
            getDataClone(){

             axios.get('api/title/all')
                    .then(response => {

                        this.clones = response.data
                        // console.log(this.clones)
                    })
            },

            onSelected(node) {
             // console.log(node)
             firstScrollTo('#'+node.id)


            },

            onChecked(node) {
                console.log(node.text)
            }

        }


    }
</script>

<style scoped>

    .margin{

        margin-top: -55px;
        transition: 1s

    }

    #divMenu{

        position: fixed;
        display:block;
        height:550px;
        overflow:auto;

    }


</style>