<template>
    <div>
        <div class="row">
            <div class="col m12">
                <div class="card">
                    <div class="card-title">File Upload Component</div>
                    <div class="card-content">

                        <div class="row">

                                <div class="col s3" v-if="image">
                                    <img :src="image" class="img-responsive" height="70" width="90">
                                </div>
                               <div class="col s7">
                                <input type="file" @change="onImageChange" class="form-control">
                              </div>
                              <div class="col s3">
                                <button class="btn btn-success btn-block" @click="uploadImage">Upload Image</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        props:['itemId'],

        data(){
            return {

                image: ''
            }

        },

        methods: {
            onImageChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            uploadImage(){
                axios.post('api/image/store',{image: this.image}).then(response => {
                    console.log(response);
                    this.success(response.data.success);
                });
            }
        }
    }
</script>

<style scoped>

</style>