<template xmlns:v-on="http://www.w3.org/1999/xhtml">
    <div>
    <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
            <div class="col s12">

              <span class="black-text">
                   <div>
                      <h3>{{item.name}}</h3>
                  </div>
                   <div v-show="item.edit == false">

                       <button @dblclick="item.edit = true">{{item.text}}</button>
                  </div>
                  <input v-show="item.edit == true" v-model="item.text"
                  @blur="item.edit = false"
                  @keyup.enter="updateItem(item)">

                 <div v-show="item.editBody == false">

                   <p id="rafa" class="truncate" @mouseenter="item.editBody = true">{{item.body}}</p>

                 </div>
                  <div v-show="item.editBody == true">

                   <textarea style="width: 300px;height: 300px"
                    v-model="item.body"
                    @mouseout="item.editBody = false,updateItem(item)"
                    @keyup.enter="updateItem(item)">{{item.body }}</textarea>

                 </div>


              </span>
            </div>

        </div>
        <div class="card-action">

            <a class="btn-floating btn-small waves-effect waves-light red" @click="EliminarItem"><i
                    class="material-icons">content_cut</i></a>
            <a class="btn-floating btn-small waves-effect waves-light blue" @click="EditItem"><i
                    class="material-icons">edit</i></a>


        </div>
    </div>
    </div>
    
</template>

<script>

    import { ElementMixin } from 'vue-slicksort';
    import {EventBus} from '../eventBus'
    export default {
        props:['item','index'],
        mixins:[ElementMixin],
        filters: {
            capitalize: function (value) {
                if (!value) return ''
                value = value.toString()
                return value.charAt(0).toUpperCase() + value.slice(1)
            }
        },

        methods:{

            EliminarItem(){
                console.log('emitio')
                EventBus.$emit('delete-item',this.index)

            },

            EditItem(){
                console.log('emitio edit')
                EventBus.$emit('edit-item',this.index)

            },
            updateItem(item){
                item.edit = false
                this.updateAPI(item)

            },
            updateAPI(item){

                return  axios.post('api/item/update',item)
                    .then(response => {

                            console.log(response)

                    })
            }
        }
    }
</script>

<style scoped>



</style>