<template>

     <div class="row">
         <div class="row">

             <div class="pull-right">
                 <router-link to="/add" class="btn-large btn-floating">
                     <i class="material-icons">add_circle</i>

                 </router-link>
                 <div class="input-field col s3 pull-right">

                     <i class="material-icons prefix">search</i>
                     <input name="search" v-model="keywords" type="text" placeholder="Inicie la busqueda" >
                 </div>

                 <br><br>
             </div>


         </div>

         <div class="row">
              <div class="col s10 offset-s1">
                  <div id="element2"> cabeza de la tablaaa</div>
                  <table class="responsive-table striped">

                      <thead>

                      <tr>
                          <td>#</td>
                          <td>Name <button @click="sort" v-model="iconFlag" class="btn-flat"><i class="material-icons" v-html="iconValue"></i></button></td>
                          <td>Email</td>
                          <td>Web</td>
                          <td class="col-md-2">Actions</td>
                      </tr>

                      </thead>
                      <tbody>

                      <tr v-for="student in students"  :key="student.id">

                          <td>{{student.id}}</td>
                          <td>{{student.name}}</td>
                          <td>{{student.email}}</td>
                          <td>{{student.web}}</td>
                          <td> <router-link :to="{name:'editStudent', params:{id:student.id} }" class="btn-large btn-floating">
                              <i class="material-icons">edit</i>
                          </router-link>
                              <router-link :to="{name:'deleteStudent', params:{id:student.id} }" class="btn-large btn-floating">
                                  <i class="material-icons">delete</i>
                              </router-link>

                          </td>
                      </tr>



                      </tbody>

                  </table>

              </div>
         </div>

         <div class="row">

             <div class="col s12 offset-s4">

                 <pagination v-show="[students.length > 2]" :data="paginateStudents" @pagination-change-page="getStudents"></pagination>

             </div>



         </div>
         <div id="element"> Fondo de la tablaaa</div>

     </div>

    
</template>

<script>

import {auth} from '../app'
const pagination = Vue.component('pagination', require('laravel-vue-pagination'));
    export default {
        data(){

            return {
                students:{},
                paginateStudents:{},
                keywords:'',
                iconValue:'arrow_drop_down',
                iconFlag:false,
                order:''
            }

        },
        mounted(){
            console.log('app Created')
            this.getStudents()


        },

        components:{

             'pagination':pagination

        },
        watch:{


            keywords(afterKey,beforeKey){

                this.Search()

            }
        },
        filters:{

            ByName(value){

                if(value.name.charAt(0) == 'M'){

                    return value.name

                }

            }


        },
        methods:{

            getStudents(page = 1){
               console.log('token',auth)
                axios.get('api/students/all?page='+page,auth)
                    .then(res =>{
                        console.log(res)
                        this.students = res.data.data
                        this.paginateStudents=res.data
                        this.IconValue()

                    })
                    .catch(res =>{

                        console.log(res)

                    })


            },

            Search(){

                axios.get('api/students/search',{

                    params:{keywords:this.keywords},
                    headers: {Authorization:'Bearer ' + localStorage.getItem('token')}
                }
                    )
                    .then(res =>{

                        //console.log(res)
                        this.students = res.data
                    })
              },

           IconValue(){

                 if(this.iconFlag){

                     this.iconValue = 'arrow_drop_down'
                     this.order= 'desc'
                 }
                 else {

                     this.iconValue = 'arrow_drop_up'
                     this.order='asc'
                 }


            },
            changeIcon(){

                this.iconFlag = !this.iconFlag
                this.IconValue()

            },
            sort(){
                this.changeIcon()

                axios.get('api/students/sort',{
                    params:{orderSort:this.order},
                    headers: {Authorization:'Bearer ' + localStorage.getItem('token')}
                })
                    .then(res =>{

                        //console.log(res)
                        this.students = res.data

                    })


            }
            }
         }

</script>

<style scoped>

</style>