<template>
    <div>

        <h3 class="center-align">Login</h3>

        <div class="row">
              <div class="col s5 offset-s3">

                  <form  @submit.prevent="login">


                      <div class="form-group">

                          <label for="loginEmail">Email</label>
                          <input class="form-control" v-model="user.email" name="email" type="email" id="loginEmail"  required>
                      </div>

                      <div class="form-group">

                          <label for="loginPass">Password</label>
                          <input class="form-control" v-model="user.password" name="password" type="password" id="loginPass"  required>
                      </div>

                      <button class="btn btn-xs btn-primary" type="submit" >

                          login

                      </button>

                      <router-link class="btn btn-xs btn-danger" :to="'/'">Cancel</router-link>
                  </form>

              </div>

        </div>



    </div>
</template>

<script>

    export default {
        name: "Login",
       data(){

            return {

                user:{
                    email:'',
                    password:''

                }

            }

       },
       methods:{

           login(){
                   axios.post('api/login/user',this.user)
                   .then(res =>{
                           console.log(res.data.success.token)
                           localStorage.setItem('token',res.data.success.token)
                           this.$router.push({name: 'listStudents'})
                           this.success('User login');


                   })
                   .catch( res =>{

                        this.error('Invalid Credentials')

                   })


           }


       }


    }
</script>

<style scoped>

</style>