<template>
   <div>

       <h2 class="center-align">Esta es la tarea</h2>

       <div  class="col s5 offset-s3">
       <form @submit.prevent="ShowInformation">

           <input type="text" v-model="name" placeholder="Name....">
           <input type="text" v-model="city" placeholder="Address....">
           <input type="checkbox" id="checkbox" v-model="addres" >
           <label for="checkbox">Show textare input</label>


           <textarea v-show="addres" datatype="addres" v-model="addresCont" id="" cols="30" rows="10"></textarea>


           <button type="submit">Commit</button>
       </form>
       </div>
   </div>

</template>

<script>
    export default {
        name: "tarea",
        data(){

            return{

                name:'',
                city:'',
                addres:false,
                addresCont:''


            }

        },

        methods:{


            ShowInformation(){


               return alert('Name: '+ this.name +',' + 'City: '+this.city+'Addres: '+ this.addresCont)

            }

        }

    }
</script>

<style scoped>

</style>