<template>
  <div>

     <h4>{{title}}</h4>
     <img class="responsice-img" src="../assets/logo.png" alt="Vue.js"/>

    <div class="row">
       <div class="col s4 offset-s4">
         <label class="flow-text">De</label>
         <currency-list @changeCurrency="changeCurrency" name="base" :list="listBase()" ></currency-list>

       </div>


    </div>
    <div class="row">
       <div class="col s4 offset-s4">
         <label class="flow-text">A</label>
         <currency-list @changeCurrency="changeCurrency" name="target" :list="listTarget()"></currency-list>

       </div>


    </div>

      <div class="row">
       <div class="col s4 offset-s4">
         <label class="flow-text">MONTO</label>
         <input  class="center" v-model="mount" type="number" min="1">

       </div>
    </div>

    <div class="row">

       <h5 v-if="totalmount">{{totalmount}}</h5>
       <h5 v-else>No valido</h5>
         {{mount}}
    </div>

  </div>
</template>

<script>
  import {getCurrencies,Convert} from '../helpers/api'
  import CurrencyList from './CurrencyList'
    export default {
        name: "Currency",
        components:{

          'currencyList':CurrencyList

        },
        data(){
          return {

            title:'Convertidor de Divisas',
            currencyList:[],
            base:'',
            target:'',
            mount: 1,
            totalmount:''

          }

        },
        created(){

        getCurrencies().then(res=>{

          this.currencyList = res

         })

        },
      computed:{



      },
      methods:{



        changeCurrency(val,name){

              this[name]=val
              this.convertCurrency()


          },
          convertCurrency(){
             console.log("nada------> " + this.mount)
            if(!this.mount){


               return

            }else{

              Convert(this.mount,this.base,this.target).then(res =>{

                   this.totalmount = res

              })


            }


          },
          listTarget(){

            return  this.currencyList

          },
          listBase(){

           return  this.currencyList

          }


      }


    }
</script>

<style scoped>

</style>
