<template>
  <div>
    <select  class="browser-default" :name="name" v-model="value" >

      <option :value="currency.id" v-for="currency in list" :key="currency.id">

        {{currency.id}}

      </option>

    </select>


  </div>

</template>

<script>

    export default {
        name: "CurrencyList",
        data(){

            return {

               value :''

            }
        },
      watch:{

          initialValue(val){

             this.value = val

          },
          value(val){

             this.changeCurrency(val)

          }

      },
      methods:{

          changeCurrency(val){

              this.$emit('changeCurrency',val,this.name)

          }

      },

      props:['list','initialValue','name']
    }
</script>

<style scoped>

</style>
