<template>

  <form @submit.prevent="addTodos">

    <input type="text" placeholder="agrega una tarea" v-model="text">
    <transition name="fade">
      <span v-show="isEmpty" v-text="menssage" style="color: red"></span>
    </transition>

  </form>

</template>

<script>
  import {eventBus} from "../helpers/eventBus";
    export default {
        name: "todoAdd",

      data(){

        return{
          menssage:'No puede estar en blanco',
          isEmpty : false,
          text:''

        }

      },
      methods:{

        addTodos(){

          if(this.text != ''){

            let todo = {

              text: this.text

            }

            eventBus.$emit('todoAdd',todo)
            this.text = ''
            this.isEmpty = false

          }else{

            this.isEmpty = true

          }

        }


      }

    }
</script>

<style scoped>
  .fade-enter-active, .fade-leave-active {
    transition: opacity .8s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }

  .contactForm{
    padding: 2rem;
    font-size: 1rem;
    background-color: yellow;
    color: white;
  }
</style>
