<template>
  <ul>

    <li :key="todo.text" v-for="todo in todos" v-text="todo.text"></li>


  </ul>

</template>

<script>
  import {eventBus} from "../helpers/eventBus";

  export default {
        name: "todoList",

      props:['todos'],
      created(){

        eventBus.$on('todoAdd',todo=>{

          this.todos.push(todo)

        })

      }
    }
</script>

<style scoped>

  li {
    display: block;
    margin: 0 10px;
  }




</style>
