<template>
  <div id="app" class="container center">

     <currency></currency>

  </div>
</template>

<script>

  import Currency from  './components/Currency'
export default {
  name: 'app',
  components:{

    'currency':Currency

  }

}

</script>


