<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Componentes</title>
</head>
<body>

   <h1>Componentes</h1>


    <main id="componente">

      <shhows></shhows>

        <!--<users></users>
        <Starwars></Starwars>!-->



    </main>


   <template id="starWars">

       <div>

           <h2>Componentes Locales</h2>

       <h3>Star War People</h3>

           <ul>

           <li v-for="character in characters">{{character.name}}</li>

           </ul>

       </div>

   </template>
   <template id="shows">

       <div><h2>Componentes Globales</h2>

       <h3>Show TV Maze</h3>

             <ul>


                 <li v-for="show in shows">{{show.name}}</li>


             </ul>

       </div>

   </template>
   <template id="users">

       <div>
           <h2>Otro Componente Local Users</h2>

       <h3>Users</h3>

       <ul>
           <li v-for="user in users">{{user.name}}</li>

           </ul>

       </div>

   </template>

   <script src="./node_modules/vue/dist/vue.js"></script>
   <script src="./node_modules/axios/dist/axios.js"></script>

  <script>

      /*componen Global*/
     Vue.component('shhows',{

          template: '#shows',
          mounted(){


              axios.get('http://api.tvmaze.com/shows')
                  .then(response => {

                       console.log(response)
                       this.shows = response.data
                  })
          },
          data(){

           return {
               shows:[]


           }

          }

      })
      /*endComponenGlobal*/

      /*ComponenLocal*/
      var Shows = {

          template:'#hows',
           mounted(){


              axios.get('http://api.tvmaze.com/shows')
                  .then(response => {

                      console.log(response)
                      this.shows = response.data
                  })
          },
          data(){

              return {
                  shows:[]


              }
          }
      }
      var StarWars = {

          template:'#starWars',

          mounted(){


              axios.get('https://swapi.co/api/people/')
                  .then(response => {

                      console.log(response)
                      this.characters = response.data.results
                  })
          },
          data(){

              return {
                  characters:[]

              }

          }


      }
      var Users = {

          template:'#users',

          mounted(){


              axios.get('https://jsonplaceholder.typicode.com/users')
                  .then(response => {

                      console.log(response)
                      this.users = response.data
                  })
          },
          data(){

              return {
                  users:[]

              }

          }


      }
      const mv = new Vue({

          el:'#componente',

          components:{

              'shows':Shows
             // 'Starwars':StarWars,
             // 'users':Users
          }
      })
       /*EndComponenlocal*/


  </script>

</body>
</html>