<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eventos Personalizadosn con VUEjs</title>
    <link rel="icon" href="https://vuejs.org/images/logo.png">
</head>

<style>
    :root{

        --color-primary:'#41B883';
        --color-secundary:'#35495E';

    }

    body{

        display: flex;
        justify-content: center;
        font-family:sans-serif;
        height: 100vh;

    }

    button{

        padding: 10px 15px;
        outline: 0;
        width: 60%;
        border: solid black;
        background-color: green;
        color: white;
        cursor: pointer;

    }

    #app{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .modal{

        position: absolute;
        padding: 2rem;
        width: 100%;
        min-height: 100%;
        background-color:red;
        color:blue;


    }


    .fade-enter-active, .fade-leave-active {
        transition: opacity .8s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }

    .blur{

        filter: blur(1px);
        opacity: 100%;

    }



</style>
<body>

<main id="app">


    <modal-btn @modal="changeShowing"></modal-btn>
    <div :class="[isShowing ? blur: '']">

        <transition name="fade">

            <modal v-if="isShowing" class="modal">

                <modal-btn @modal="changeShowing"></modal-btn>

            </modal>

        </transition>


        {{$data}}

    </div>


</main>

<template id="modal">

     <h2>I am modal vey beautiful</h2>


</template>



<script src="./node_modules/vue/dist/vue.js"></script>
<script src="./node_modules/axios/dist/axios.js"></script>
<script>

    const mv = new Vue({

        el:'#app',
        data:{

         isShowing:false,
         blur:'blur'

        },
        methods:{

            changeShowing(){


                this.isShowing = !this.isShowing

            }
        },
        components:{

            modalBtn:{

                 template:'<button @click="openModal">Modal</button>',
                 methods:{

                     openModal(){

                         this.$emit('modal')

                     }

                 }


            },
            modal:{

                template:'#modal'

            }

        }


    })


</script>



</body>
</html>