<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comunicacion ente componentes</title>
</head>
<style>

    .fade-enter-active, .fade-leave-active {
        transition: opacity .8s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }

    .contactForm{
        padding: 2rem;
        font-size: 1rem;
        background-color: yellow;
        color: white;
    }

    .u-success{

        background-color: green;

    }

    .u-error{

        background-color: red;

    }

</style>
<body>

<main id="app">

    <todo-list :todos="todos"></todo-list>

    <todo-add> </todo-add>

    {{$data}}


</main>

<template id="Todo-list">

    <ul>

        <li v-for="todo in todos" v-text="todo.text"></li>


    </ul>



</template>

<template id="Todo-add">

     <form @submit.prevent="addTodos">

         <input type="text" placeholder="agrega una tarea" v-model="text">
         <transition name="fade">
             <span v-show="isEmpty" v-text="menssage" style="color: red"></span>
         </transition>

     </form>


</template>

<script src="./node_modules/vue/dist/vue.js"></script>
<script src="./node_modules/axios/dist/axios.js"></script>
<script>



    Vue.component('todo-list',{

        props:['todos'],
        template: '#Todo-list',
        created(){

            eventBus.$on('todo-add',todo=>{

                this.todos.push(todo)

            })

        }
    })

    Vue.component('todo-add',{

        template:'#Todo-add',
        data(){

            return{
                menssage:'No puede estar en blanco',
                isEmpty : false,
                text:''

            }

        },
        methods:{

            addTodos(){

                if(this.text != ''){

                    let todo = {

                        text: this.text

                    }

                    eventBus.$emit('todo-add',todo)
                    this.text = ''
                    this.isEmpty = false

                }else{

                    this.isEmpty = true

                }





            }


        }



    })

    const eventBus = new Vue()

    const mv = new Vue({
        el:'#app',
        data:{

            todos:[

                {text:'Tarea 1'},
                {text:'Tarea 2'},

            ]


        }


    })




</script>
</body>
</html>