<!DOCTYPE html>
<html lang="en" xmlns:v-mode="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>VueJs</title>

    <style>

        .fade-enter-active, .fade-leave-active {
            transition: opacity .8s;
        }
        .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
            opacity: 0;
        }

        .contactForm{
            padding: 2rem;
            font-size: 1rem;
            background-color: yellow;
            color: white;
         }

        .u-success{

            background-color: green;

        }

        .u-error{

            background-color: red;

        }

    </style>
</head>
<body>

<h1>Reactividad con vuejs</h1>

<main id="app">

     <h2>{{menssage}}</h2>
    <input type="text" v-model='menssage'>

    <form id="contactForm" @submit.prevent="sendForm">


        <input v-model='formType' :value="true" name="formType" type="radio" id="opinion">
        <label for="opinion">Opinion</label>

        <input v-model='formType' :value="false" name="formType" type="radio" id="presupuesto">
        <label for="opinion">Presupuesto</label><br><br>

        <legend>Tipo de Formulario <span>{{formTitle}}</span></legend><br>


        <input @keyup="validateData" type="text" name="firstname" title="firstname" placeholder="firstname" pattern="[A-Za-z]{1,32}" required>
        <transition name="fade">
        <span v-show="menssage2.firstname" v-text="menssage2.firstname" style="color: red"></span>
        </transition><br>

        <template v-if='!formType'>

            <input type="text" name="lastname" title="lastname" placeholder="lastname" required><br><br>

            <select name="services">

                <option v-for="service in services" :value="service.id" v-text="service.name" ></option>

            </select><br><br>

        </template>

        <template v-else>

        <textarea name="comentarios" placeholder="come ntarios" title="tus comentarios"></textarea><br><br>

        </template><br>
        <transition name="fade">
            <span v-show="menssage2.ServerResponse" v-text="menssage2.ServerResponse" :class="responseClase" :style="responseStyle">

            </span>
        </transition><br>


        <input type="submit" value="Submit">
    </form>

    <pre>{{$data}}</pre>



</main>

<script src="./node_modules/vue/dist/vue.js"></script>
<script src="./node_modules/axios/dist/axios.js"></script>
<script>
    //Vanilla js
  /*  const input = document.querySelector('input');

    h2 = document.querySelector('h2');

    input.addEventListener('keyup',()=>h2.innerHTML = input.value);*/

   const mv = new Vue({

   el: '#app',
      data: {

          menssage : 'Hola mundo',

          formType:true,

          menssage2: {

              firstname:'',
              lastname:'',
              comentarios:'',
              ServerResponse:''
          },
          services:[

              {id:null,name:'Seleccione el servicio'},
              {id:1,name:'Espannol'},
              {id:2,name:'Historia'},
              {id:3,name:'Matematica'},
              {id:4,name:'Programacion'}

          ],

          ServerResponse: false


      },

       formats:{

           name:''

       },



       computed:{

           formTitle: function(){

               return (this.formType)?'Opinion' : 'Presupuesto'

           },

           responseClase(){

                return [

                    'contactForm',
                    (this.ServerResponse) ? 'u-success' : 'u-error'

                ]

           },

           responseStyle(){


           }



       },

       methods:{

           validateData: function(e){

               let input = e.target,
                   expresion

               if(input.pattern){

                   let expre = new RegExp(input.pattern);
                   expresion = expre.exec(input.value)

               }

               else{


                   expresion = true;

               }

               if(!expresion){

                   this.menssage2[input.name] = 'Dato incorrecto ,'


               }

               else{

                   this.menssage2[input.name] = ''


               }




           },

           sendForm(e){

               // alert("Enviandooooo")

               let form = document.getElementById('contactForm')
               formData = new FormData(form)

               axios.post('./serve.php',formData)

                   .then(response => {

                        console.log(response)
                        this.menssage2.ServerResponse = response.data
                        this.ServerResponse = true

                   })

                   .catch(error=>{

                       console.log(error)
                       this.menssage2.ServerResponse = error
                       this.ServerResponse = false


                   })

           }

       }
  })



</script>


</body>
</html>