<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Propiedades en Vue</title>
</head>
<body>

   <main id="props">

    <shows v-for="show in shows" :name="show.name" :poster="show.image.medium" :rating="show.rating.average" :genres="show.genres">

         <h3>Propiedades Con Maze</h3>

    </shows>


   </main>

   <template id="shows">

       <figure>

           <img :src="poster" :alt="name">

           <figcaption>

               <h3>{{name}}</h3>

                <p>Calificacion :

                     {{rating}}

                </p>

               <ul>

              <li v-for="genre in genres" v-text="genre"></li>

               </ul>

           </figcaption>

       </figure>



   </template>

<script src="./node_modules/vue/dist/vue.js"></script>
<script src="./node_modules/axios/dist/axios.js"></script>
   properties.html

    Vue.component('shows',{

        template: '#shows',
       // props:['name','poster','rating','genres']

        props:{

            name:{

                type:String,
                required:true,
                },
            poster:String,
            rating:Number,
            genres:{
               type: [String,Array],/*el tipo puede ser un string o un array string*/
               required:true,
               default:'no hay generos'
            }


        }

        })

    const mv = new Vue({

        el:'#props',

        mounted(){


            axios.get('http://api.tvmaze.com/shows')
                .then(response => {

                    console.log(response)
                    this.shows = response.data
                })
        },

        data:{

            shows:[]

        }

    })


</script>

</body>
</html>