<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Slots Con Vue</title>

    <style>

        .styleImg{


            width: 200px;
            height: 200px;
            border-radius: 50px;


        }


    </style>
</head>
<body>

<main id="app" >

     <!--<card></card>
     <card>

         <template>

              <img src="img/2.jpg">

         </template>

         <template slot="name">

             <p>Ibra</p>

         </template>

         <template slot="position">

             <p>CUJAE</p>

         </template>

         <template slot="phrase">

             No pinta bien

         </template>

     </card> !-->

     <cards :members="team" >

         <template slot-scope="data">

             <img :src="data.avatar">

         </template>

         <template slot="name" slot-scope="data">

                  <p v-text="data.nombre"></p>

         </template>

         <template slot="cargo" slot-scope="data">

                  <p v-text="data.cargo"></p>

         </template>
     </cards>




</main>

<template id="card">

    <figure>

        <slot>

            <img src="img/1.JPG" :class="StyleImg">


        </slot>
     <figcaption>

          <slot name="name">Rafael Linares</slot>
          <slot name="position">UCI</slot>
          <slot name="phrase">"I am here"</slot>
          <slot name="test">"PORDEFAULT"</slot>




     </figcaption>


    </figure>


</template>
<template id="cards">
 <div>
     <figure v-for="member in members">

         <slot :avatar ='member.avatar'></slot>
         <figcaption>

             <slot name="name" :nombre="member.name">Rafael Linares</slot>
             <slot name="cargo" :cargo="member.cargo">Limpiea Pisio</slot>

         </figcaption>


     </figure>



 </div>



</template>

<script src="./node_modules/vue/dist/vue.js"></script>
<script src="./node_modules/axios/dist/axios.js"></script>

<script>

    const mv = new Vue({

         el:'#app',
         data:{

             team:[

                 { avatar:"img/2.jpg",name:'Rafael Linares',cargo:"COO"},
                 { avatar:"img/1.JPG",name:'Pepe Linares',cargo:"COa"},
                 { avatar:"img/3.jpg",name:'Jorge Linares',cargo:"COb"},
                 { avatar:"img/3.jpg",name:'Panchito Linares',cargo:"PPP"},
             ],
         },
         components:{

             card:{

                 template:'#card',


         },
          cards:{

             template:'#cards',
             props:['members'],
             computed:{

                  StyleImg(){

                      return 'styleImg'

                  }
              }

          }

        }





    })




</script>
</body>
</html>