<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rutas con vue</title>
</head>

<style>

    .fade-enter-active, .fade-leave-active {
        transition: opacity .8s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }

    :root{

        --color-primary:#41B883;
        --color-secundary:#35495E;
    }

    .router-link-active{

        font-weight: bold;
        color: var(--color-primary);

    }

    .roter-link-exact-active{

        padding-bottom: .25rem;
        border-bottom:medium solid var(--color-secundary);

    }

    .u-exact-active{
        font-weight: bold;
        color: red;
        padding-bottom: .25rem;
        border-bottom: blue;
        cursor: pointer;

    }

</style>
<body>

<main id="app">

    <h1>Hello App!</h1>

  <router-link to="/">Home</router-link>
  <router-link to="/menu">Menu</router-link>
  <router-link to="/contact">Contact</router-link>
  <router-link to="/about">About</router-link>
    <br><br>

     <router-link to="/" exact>Home</router-link>
     <router-link to="/menu" exact>Menu</router-link>
     <router-link to="/contact" exact>Contact</router-link>
     <router-link to="/about" exact>About</router-link>
      <br><br>

     <router-link active-class="u-exact-active" to="/" exact>Home</router-link>
     <router-link active-class="u-exact-active" to="/menu" exact>Menu</router-link>
     <router-link active-class="u-exact-active" to="/contact" exact>Contact</router-link>
     <router-link active-class="u-exact-active" to="/about" exact>About</router-link>
      <br><br>

     <ul>
         <router-link tag="li" active-class="u-exact-active" to="/" exact>Home</router-link>
         <router-link tag="li" active-class="u-exact-active" to="/menu" exact>Menu</router-link>
         <router-link tag="li" active-class="u-exact-active" to="/contact" exact>Contact</router-link>
         <router-link tag="li" active-class="u-exact-active" to="/about" exact>About</router-link>
         <router-link tag="li" active-class="u-exact-active" to="/suma" exact>Calculate</router-link>
         <router-link tag="li" active-class="u-exact-active" to="/dynamic/2-1" exact>Calculate Suma</router-link>


     </ul>

      <br><br>

    <router-link active-class="u-exact-active" :to="{name:'home'}" exact>Home</router-link>
    <router-link active-class="u-exact-active" to="/home" exact>Redirect-Home</router-link>
    <router-link active-class="u-exact-active" :to="{name:'menu'}" exact>Menu</router-link>
    <router-link active-class="u-exact-active" :to="{name:'contact'}" exact>Contact</router-link>
    <router-link active-class="u-exact-active" :to="{name:'about'}" exact>About</router-link>
    <router-link active-class="u-exact-active" :to="{name:'courses',params:{id:'Vue'}}" exact>Courses</router-link>
    <router-link active-class="u-exact-active" :to="{name:'colapse'}" exact>Colapse</router-link>
    <br><br>

    <hr>
    <transition name="fade" mode="out-in">

        <router-view></router-view>

    </transition>
    <router-view name="a"></router-view>
    <router-view name="b"></router-view>
    <router-view name="c"></router-view>


</main>

<script src="./node_modules/vue/dist/vue.js"></script>
<script src="./node_modules/axios/dist/axios.js"></script>
<script src="./node_modules/vue-router/dist/vue-router.js"></script>

<script>

    const Menu = {template:'<div> Menu </div>'}
    const About = {template:'<div><h2>Acerca</h2> <button @click="$router.go(-1)">atras</button> </div>'}
    const Contact = {template:'<h2>Contacto</h2>',
           created(){

             setTimeout(() =>{

                  this.$router.push('/')

             },3000);


           }

     }
     const Error404 = {template:'<h2>Error404</h2>'}
     const Home = {template:'<h2>Home</h2> ',
      beforeRouteLeave(to , from , next){

            alert(to.path)
             next()

      }
    }
     const Colapse = {template:'<h2>Colapse</h2> '}
     const Courses = {template:'<div><h2>Cursos</h2> <h3 v-if="$route.params.id">Params:Curso {{$route.params.id}}</h3>' +
         '<h3 v-if="$route.query.id">Query:Curso {{$route.query.id}}</h3> </div>'}

     const Calculate = {

          template:'<h2> Calculando {{valor}} </h2>',
          props:{

              valor:{

                  type:[String,Number],
                  default:"--Static value---"

              }

          }
     }

 function suma(route) {

         return{

             valor:(parseInt(route.params.n1) + parseInt(route.params.n2))

         }
 }

 function rutaSegura(to ,from , next) {

         if(confirm('entramos:???' + to.path )){

              next()

         }
         else if(confirm('redirigimos a /about???')){

              next('/about')
         }
         else{

             next(false)

         }
 }
     let routes = [
         {path:'/',component:Home ,name:'home'},
         {path:'/suma',component:Calculate},
         {path:'/suma/:valor',component:Calculate,props:true},
         {path:'/dynamic/:n1-:n2',component:Calculate,props:suma},
         {path:'/home',redirect:{name:'home'}},
         {path:'/menu',component:Menu,name:'menu'},
         {path:'/contact',component:Contact,name:'contact',beforeEnter:rutaSegura},
         {path:'/about',alias:'/call-about',component:About,name:'about'},
         {path:'*',component:Error404},
         {path:'/cursos/:id',component:Courses},
         {path:'/cursos',component:Courses,name:'courses'},
         {path:'/colapse',name:'colapse',components:{

            default:Colapse,
            a:Home,
            b:About,
            c:Courses
         }

         }
     ]

   let router = new VueRouter({

        routes

    })

   const mv = new Vue({
       mode:'history',
       base:'/FirstVuejs/',
       router,
       el:'#app',
   })
</script>
</body>
</html>