<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manejo de estados</title>
</head>
<style>

    :root{

        --color-primary:#41B883;
        --color-secundary:#35495E;
    }

    html{

        font-family:sans-serif;
        font-size: 16px;
        line-height: 1.6;
    }

    body{

        margin: 0;
        height: 100vh;
        display: flex;
        background:linear-gradient(180deg,var(--color-primary),var(--color-secundary));
        color: #333;
    }

    a{
        display: block;
        margin: 1rem auto;
        text-align: center;
        color: var(--color-secundary);
        transition:all .3s ease-out;

    }

    a:hover{

        color: var(--color-primary);
        }

   .todo-container{
      margin: auto;
       padding: 1rem;
       width: 24rem;
       background-color: white;
       border-radius: .5rem;
       box-shadow: 0 0 2rem black;

          }

    .todo-tilte{

        text-align: center;
        margin-top: 0;
            }

    .ToDo-input{


        width: 100%;
        padding: .5rem;
        font-size: 1rem;
        outline: none;
        border-radius: .25rem;
        border: solid 1px blue;
        box-sizing: border-box;
    }

     .to-Do-task{

         padding-left: 1.5rem;
     }
    .to-Do-task:hover{


        cursor: pointer;
    }

    .completed{

        text-decoration: line-through;
         color: black;

    }


</style>
<body>

<main id="app" class="todo-container">

      <h1 class="todo-tilte"></h1>

     <todo-add>  </todo-add>
     <todo-list> </todo-list>


</main>
<template id="Todo-list">

    <ul>

        <li :key="todo.id" v-for="todo in Todos" :class="{completed:todo.complete}" class="to-Do-task"
         @click="Changetodo(todo.id)" @dblclick="DeleteTodo(todo.id)">{{todo.task}}</li>


    </ul>


</template>

<template id="Todo-add">

     <form @submit.prevent="addTodos">

         <input class="ToDo-input" type="text" placeholder="Agrega una tarea" v-model ='task'>

     </form>

</template>
<script src="./node_modules/vue/dist/vue.js"></script>
<script src="./node_modules/axios/dist/axios.js"></script>
<script src="./node_modules/vuex/dist/vuex.js"></script>

<script>

const state ={

     todos : [

         {
             id:18,
             task:'Tarea 221',
             complete: true

         },
         {
             id:0,
             task:'Tarea 121',
             complete: false

         },
         {
             id:8,
             task:'Tarea 1',
             complete: true

         },
         {
             id:9,
             task:'Tarea 19',
             complete: false

         },
         {
             id:10,
             task:'Tarea 14',
             complete: false

         }

     ]

}

const getters ={

     getTodos:  state => state.todos

}

const mutations ={

     ADD_TODO:(state,payload)=>{

         const newTask = {

             id: payload.id,
             task:payload.task,
             complete:false

         }
         /*unshift agrega al inicio*/
         state.todos.unshift(newTask)

     },
     CHANGE_TODO:(state,payload)=>{
          /*=> viene siendo como un where*/
         let item = state.todos.find(todo => todo.id === payload)
          item.complete = !item.complete

     },
     DELETE_TODO:(state,payload) => {

         let index = state.todos.findIndex(todo => todo.id === payload)
         state.todos.splice(index,1)

     }


}

const actions = {

   addTodo:(context,payload) => {

       context.commit('ADD_TODO',payload)

   },
    changetodo:(context,payload) => {

        context.commit('CHANGE_TODO',payload)

   },
    deletetodo:(context,payload) => {

        context.commit('DELETE_TODO',payload)

   }

}


const store = new Vuex.Store({

     state,
     actions,
     getters : getters,
     mutations


})

    Vue.component('todo-list',{

     template:'#Todo-list',

     computed:{

         Todos(){
             return this.$store.getters.getTodos

         }

     },
    methods:{

         Changetodo(id){

          this.$store.dispatch('changetodo',id)

         },

         DeleteTodo(id){

           this.$store.dispatch('deletetodo',id)

         }

    }

})

Vue.component('todo-add',{

    template:'#Todo-add',
    data(){

        return{
           task:'',
            id:19
        }

    },
    methods:{

        addTodos(){

          this.$store.dispatch('addTodo',this)
            this.id ++
            this.task =''
        }


    }



})

const mv = new Vue({
    store:store,
    el:'#app',

})

</script>
</body>
</html>