<template>

  <form @submit.prevent="addTodos">

    <input class="ToDo-input" type="text" placeholder="Agrega una tarea" v-model ='task'>
    <transition name="fade">
      <span v-show="isEmpty" v-text="alert" style="color: red"></span>
    </transition>
     <br/>
  </form>


</template>

<script>
    export default {
        name: "Addtodo",
      data(){

        return{
          alert:'not empty!!!',
          isEmpty:false,
          task:'',
          id:19
        }

      },
      methods:{

        addTodos(){

           if(this.task != '' ){

             this.$store.dispatch('addTodo',this)
             this.id ++
             this.task =''
             this.isEmpty = false

           }
           else {

             this.isEmpty =true

           }


        }
      }

    }
</script>

<style scoped>

  .fade-enter-active, .fade-leave-active {
    transition: opacity .8s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }

  .ToDo-input{


    width: 100%;
    padding: .5rem;
    font-size: 1rem;
    outline: none;
    border-radius: .25rem;
    border: solid 1px blue;
    box-sizing: border-box;
  }

</style>
