<template>
  <ul>

    <li :key="todo.id" v-for="todo in Todos" :class="{completed:todo.complete}" class="to-Do-task"
        @click="Changetodo(todo.id)" @dblclick="DeleteTodo(todo.id)">{{todo.task}}</li>


  </ul>
</template>

<script>
    export default {
        name: "Todolist",

        computed:{

      Todos(){
        return this.$store.getters.getTodos

      }

    },
      methods:{

        Changetodo(id){

          this.$store.dispatch('changetodo',id)

        },

        DeleteTodo(id){

          this.$store.dispatch('deletetodo',id)

        }

      }

    }
</script>

<style scoped>

  .to-Do-task{

    padding-left: 1.5rem;
  }
  .to-Do-task:hover{


    cursor: pointer;
  }

  .completed{

    text-decoration: line-through;
    color: black;

  }


</style>
